
/* Optionally adjust the spacing between code and surrounding text */
.reveal code {
  line-height: 1.4;
}


.reveal .slides section .fragment.blur {
  filter: blur(15px);
}

.reveal .slides section .fragment.blur.visible {
  filter: none
}

.smaller {
  font-size: 80% !important;
}

.evensmaller {
  font-size: 65% !important;
}

.gray-text {
  color: #aaa !important; /* medium grey */
}

.defbox {
  border: 1px solid #dddddd;
  border-left: 4px solid #4b80d6; /* subtle accent */
  background: #fafafa;
  padding: 0.8em 1em;
  margin: 1.2em 0;
  border-radius: 4px;
}

.defbox p:last-child {
  margin-bottom: 0;
}
